<%content_for :head do -%>
  <%= javascript_include_tag "swfobject" %>             
<%end%>
<%= javascript_include_tag "wz_tooltip.js", :cache => "cache/tooltip" %>   

<h1>Forum Management Metrics</h1>
<div id="actionButtons2">
  <%= link_to "View As Table",
    metrics_forums_path,
    html_options = {:class=> "button",
    :onmouseover => "Tip('View forum metrics as tabless')" } %>
</div>
<%= @open_count_graph %>
<br />
<br />
<%= @pending_count_graph %>
<br />
<br />
<%= @days_pending_graph %>
