<tr>
  <td colspan="<%= iteration.calc_day_number + 3 %>"  <%= cell_color_by_story_status story  %>>
    <strong><%= strike_text(h(story.name), story.status == "pushed") %></strong> (<%= h story.status.titleize %>, <%= pluralize(story.points, "point") %>)
  </td>
</tr>
<%= render :partial => 'task', :collection => Task.sort_by_status(story.tasks), :locals => {:iteration => iteration, :story => story} %>