<tr>
  <td colspan="<%= story.iteration.calc_day_number + 3 %>">
    <strong><%= strike_text(h(story.name), story.status == "pushed") %></strong> (<%= h story.status.titleize %>, <%= pluralize(story.points, "point") %>)
  </td>
</tr>
<%= render :partial => 'task', :collection => story.tasks %>