<tr>
  <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= h task.description %></td>
  <td <%= cell_color_by_task_status task  %>><%= h task.status.try(:titleize) %></td>
  <td><%= '%.2f' % task.total_hours %></td>
  <% (1..iteration.calc_day_number).each do |d| %>
      <% @estimate = task.fetch_estimate_by_day_number(d, iteration) %>
  <td <%= cell_color_by_hours @estimate, story %>><%= task_estimate_for_day @estimate %></td>
  <% end %>
</tr>