<% content_for :head do -%>
    <%= javascript_include_tag "tablecloth" %>
    <%= javascript_include_tag "swfobject" %>

    <style type="text/css">
        table td {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
<% end %>

<div id="actionButtons2">
  <%= link_to 'Download Burndown (PDF)', project_path(@project, :format => "pdf"), html_options = {:class=> "button"} %>
</div>

<h1>Project <%= h @project.name %>, Iteration <%= @iteration.iteration_number %>
  (<%= om_date(@iteration.start_on) %> to <%= om_date(@iteration.end_on) %>)</h1>
<% form_tag(project_path(@project), :id => 'select_iteration', :method => :get, :class => 'cssform searchform', :name => 'search') do -%>
    Iteration:
    <%= select_tag :iteration_id,
                   options_from_collection_for_select(
                           @project.iterations,
                           "id",
                           "iteration_name",
                           @iteration.id),
                   html_options = {:onchange => 'document.search.submit();'} %>
<% end %>

<p>Synced at <%= om_date_time(@iteration.last_synced_at) %></p>
<table>
  <tr>
    <th rowspan="2" valign="bottom">Story</th>
    <th rowspan="2" valign="bottom" width="5%">Status</th>
    <th rowspan="2" valign="bottom" width="5%">Estimate<br/>(hours)</th>
    <th colspan="<%= @iteration.calc_day_number %>">Day</th>
  </tr>
  <tr>
    <%= day_headings @iteration %>
  </tr>
  <%= render :partial => 'story', :collection => Story.sort_by_status(@iteration.stories), :locals => {:iteration => @iteration} %>

  <tr>
    <td colspan="<%= @iteration.calc_day_number + 3 %>">&nbsp;</td>
  </tr>
  <tr>
    <td><strong>REMAINING HOURS:</strong></td>
    <td>-</td>
    <td>-</td>
    <% (1..@iteration.calc_day_number).each do |d| %>
        <td><%= '%.2f' % @iteration.remaining_hours_for_day_number(d) %></td>
    <% end %>
  </tr>

  <tr>
    <td><strong>TOTAL HOURS:</strong></td>
    <td>-</td>
    <td><%= '%.2f' % @iteration.total_hours %></td>
    <% (1..@iteration.calc_day_number).each do |d| %>
        <td><%= '%.2f' % @iteration.total_hours_for_day_number(d) %></td>
    <% end %>
  </tr>

  <tr>
    <td><strong>VELOCITY:</strong></td>
    <td>-</td>
    <td>-</td>
    <% (1..@iteration.calc_day_number).each do |d| %>
        <td><%= @iteration.velocity_for_day_number(d) %></td>
    <% end %>
  </tr>

  <tr>
    <td><strong>POINTS DELIVERED:</strong></td>
    <td>-</td>
    <td>-</td>
    <% (1..@iteration.calc_day_number).each do |d| %>
        <td><%= @iteration.points_delivered_for_day_number(d) %></td>
    <% end %>
  </tr>
</table>
<br/>
<div id="actionButtons2">
  <%= link_to 'Printer Friendly Charts', show_chart_project_path(@project), :target => "_blank", :class=> "button" %>
</div>
<div id="charts">
  <%= @burndown_chart %>
  <br/>
  <br/>
  <%= @velocity_chart %>
</div>