<% content_for :head do -%>
    <%= javascript_include_tag "tablecloth" %>
<% end %>

<h1>Project <%= h @project.name %>, Iteration <%= @project.latest_iteration.iteration_number %>
  (<%= om_date(@project.latest_iteration.start_on) %> to <%= om_date(@project.latest_iteration.end_on) %>)</h1>
Target Velocity: <%= @project.latest_iteration.total_points %>

<table>
  <tr>
    <th rowspan="2" valign="bottom">Story</th>
    <th rowspan="2" valign="bottom" width="5%">Status</th>
    <th rowspan="2" valign="bottom" width="5%">Estimate<br />(hours)</th>
    <th colspan="<%= @project.latest_iteration.calc_day_number %>">Day</th>
  </tr>
  <tr>
    <%= day_headings @project %>
  </tr>
  <%= render :partial => 'story', :collection => Story.sort_by_status(@project.latest_iteration.stories) %>
</table>
