<tr>
    <td>
        <%= entitlement.entitlements_total %>
    </td>
    <td>
        <%= entitlement.entitlements_used %>
    </td>
    <td>
        <%= entitlement.entitlements_available %>
    </td>
    <td>
        <%= entitlement.purchased_entitlements_total %>
    </td>
    <td>
        <%= entitlement.purchased_entitlements_used %>
    </td>
    <td>
        <%= entitlement.purchased_entitlements_available %>
    </td>
</tr>
