<tr>
    <td>
        <%= h(ticket.case_number) %>
    </td>
    <td>
        <%= om_date(ticket.opened_at) %>
    </td>
    <td>
        <%= nvl(om_date(ticket.closed_at), "&nbsp;") %>
    </td>
    <td>
        <%= nvl(h(ticket.serial_number), "&nbsp;") %>
    </td>
    <td>
        <%= nvl(h(ticket.opened_by), "&nbsp;") %>
    </td>
    <td>
        <%= nvl(h(ticket.customer), "&nbsp;") %>
    </td>
</tr>