<% content_for :head do -%>
    <%= theme_stylesheet_link_tag 'sideBarRight' %>
    <%= javascript_include_tag "tablecloth" %>
<% end %>
<% content_for :bodyTag do -%>
    <%= set_focus_to_id 'user_email' -%>
<% end %>

<%= render :partial => "tab_menu" %>
<div id="tabBody" style="position:relative; padding-top:15px;">
  <h3>Certified Consultants (Sales)</h3>
  <table>
    <tr>
      <th>
        Consultant Name
      </th>
      <th>
        Email Address
      </th>
      <th>
        Certified At
      </th>
      <th>
        Active
      </th>
    </tr>
    <% if @sales_consultants.present? %>
        <%= render :partial => 'consultant', :collection => @sales_consultants, :locals => {:type => "S"} %>
    <% else %>
        <td colspan="4">
          No records found
        </td>
    <% end %>
  </table>
</div>
