<% content_for :head do -%>
    <%= theme_stylesheet_link_tag 'sideBarRight' %>
    <%= javascript_include_tag "tablecloth" %>
<% end %>
<% content_for :bodyTag do -%>
    <%= set_focus_to_id 'user_email' -%>
<% end %>

<%= render :partial => "tab_menu" %>
<div id="tabBody" style="position:relative; padding-top:15px;">
  <h3>OpenMind Users for <%= @user ? h(@user.enterprise.name) : "&mdash;Unknown Enterprise&mdash;" %></h3>
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        User Since
      </th>
      <th>
        Active
      </th>
    </tr>
    <%= render :partial => 'user', :collection => @users %>
  </table>
</div>
