<%= calendar_date_select_includes "blue" %>
<% content_for :bodyTag do -%>
    <%= set_focus_to_id 'forecast_partner_representative' -%>
<% end %>

<%= error_messages_for 'forecast' %>

<% form_for @forecast do |form| %>

    <div class="cssform widerLabel">
      <p>
        <%= form.label :partner_representative, "Partner Representative" %>
        <%= form.text_field :partner_representative, {:size => 50, :maxlength => 50} %>
      </p>

      <p>
        <%= form.label :account_name, "Customer Name" %>
        <%= text_field_with_auto_complete :forecast, :account_name, {}, {:method => :get} %>
      </p>

<!--
      <p>
        <%= form.label :region %>
        <%= form.collection_select :region_id, Region.findall(true), :id, :description %>
      </p>

      <p>
        <%= form.label :rbm, "Scribe RBM" %>
        <%= form.collection_select :rbm_id, Rbm.findall(true), :id, :description %>
      </p>

      <p>
        <%= form.label :account_exec, "Account Exec" %>
        <%= form.collection_select :account_exec_id, AccountExec.findall(true), :id, :description %>
      </p>
-->

      <p>
        <%= form.label :address1 %>
        <%= form.text_field :address1 %>
      </p>
      <p>
        <%= form.label :address2 %>
        <%= form.text_field :address2 %>
      </p>
      <p>
        <%= form.label :city %>
        <%= form.text_field :city %>
      </p>
      <p>
        <%= form.label :state, "State / Province" %>
        <%= form.select :state, options_for_select(state_options, @forecast.state) %>
      </p>
      <p>
        <%= form.label :postal_code %>
        <%= form.text_field :postal_code %>
      </p>
      <p>
        <%= form.label :country %>
        <%= form.text_field :country %>
      </p>

      <p>
        <%= form.label :stage %>
        <%= form.select :stage, options_for_select(stage_options, @forecast.stage), :prompt => "Please select..." %>
      </p>

      <p>
        <%= form.label :product %>
        <%= form.select :product, options_for_select(product_options, @forecast.product), :prompt => "Please select..." %>
      </p>

      <p>
        <label>Applications</label>
        <% for product in forecasted_products %>
            <span style="display:block;margin-left:10px;"><%= check_box_tag "forecast[product_ids][]", product.id, @forecast.products.include?(product) %>
              <%= strip_adapter(h product.name) %>
            </span>
        <% end %>
      </p>

      <p>
        <%= form.label :close_at, "Expected Close Date" %>
        <%= calendar_date_select :forecast, :close_at, :popup => :force, :time => false %>
      </p>

      <p>
        <%= form.label :amount, "Amount (USD)" %>
        <%= form.text_field :amount, {:size => 50, :maxlength => 50} %>
      </p>

      <p>
        <%= form.label :comments %>
        <%= form.text_area :comments %>
      </p>

      <p>
        <label></label>
        <%= submit_tag (@forecast.new_record? ? "Create" : "Update"), options = {:class       => "button", :disable_with => "Please wait...",
                                                                                 :onmouseover => "Tip('Create a new opportunity')"} %>
        <%= link_to 'Cancel', forecasts_portal_path, {:class       => "button",
                                                  :onmouseover => "Tip('Do not save changes to the opportunity')"} %>
      </p>
    </div>
<% end %>
